@page "/"
@page "/home"
@layout EmptyLayout
@using ShoppingCart.Components
@using ShoppingCart.Components.Shared
@inject NavigationManager Navigation
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ProductService _productService
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@rendermode InteractiveServer
@inject IJSRuntime JS
@inject CartService _cartService


<PageTitle>ShoppingCart</PageTitle> 

<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <div class="container-fluid">
        <!-- Brand Name -->
        <a class="navbar-brand fw-bold" ><i class="bi bi-cart4"></i>ShoppingCart</a>

        <!-- Search Bar -->
        <form class="d-flex ms-auto me-3" @onsubmit="Search">
            <input class="form-control me-2" type="search" placeholder="Search products..." bind-value="@SearchQuery">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <!-- Cart -->

        <button type="button" class="btn btn-outline-primary position-relative" @onclick="GoToCart">
            <i class="bi bi-cart"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                @CartItemCount
            </span>
        </button>


        <!--About Us -->
        <a class="btn btn-outline-secondary ms-2" href="/about">About Us</a>

        <!-- Profile--> 
        @if (IsUserLoggedIn)
        {
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" style="margin-left: 10px;" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i> Profile
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                    <li class="dropdown-item">
                        <strong>Welcome, @UserName</strong>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <button class="dropdown-item" @onclick="Setting" >Setting</button>
                    </li>

                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <LogoutComponent />
                    </li>
                </ul>
            </div>
        } 
        else
        {
            <a class="btn btn-outline-primary ms-2" href="/auth/login">Login</a>
        }
    </div>
</nav>

<!--middle Container-->
<div class = "hero-section">
    <img src="images/clothes.jpg" alt="hero" class="hero-image">
    <div class="hero-overlay">
        <h2 class="text-danger">ShoppingCart Sale</h2>
        <h1 class="fw-bold">Minimal Fashion Style</h1>
        <p>Exclusive discounts on the latest fashion trends.</p>
        <a href="/home" class="btn btn-dark btn-lg">Shop Now</a>
    </div>
</div> 

<!--Product Section-->
@if (lstproductModel == null)
{
    <p>Loading...</p>
}
else
{ 
    <div class="row" style="margin-top:10px">

        @foreach (ProductModel objproduct in lstproductModel)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <img class="card-img-top" src="@objproduct.ImageUrl" alt="@objproduct.ProductName" />
                    <div class="card-body text-center">
                        <h5 class="card-title">@objproduct.ProductName</h5>
                        <p class="card-text">₹@objproduct.Price</p>
                        <button class="btn btn-primary" id="btnAddtoCart" @onclick="() => AddToCart(objproduct)">Add to Cart</button>
                    </div>
                </div>
            </div>
        } 
        @*  <div class="col-md-4 mb-4" product>
        <div class="card shadow-sm">
            <img src="/images/product1.jpg" class="card-img-top" alt="Product1-Img">
            <div class="card-body text-center">
                <h5 class="card-title">Shirt</h5>
                <p class="card-text">Price:$4</p>
                <button class="btn btn-primary" @onclick="() => AddToCart()">Add to Cart</button>
            </div>
        </div>
    </div> *@


    </div>
}

<!--Footer-->
<FooterComponent /> 


@code {

    private string UserName = "";
    private string SearchQuery { get; set; } = "";
    private int CartItemCount { get; set; } = 0;
    private bool IsUserLoggedIn { get; set; } = false;
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }
    [Inject] public NavigationManager NavigationManager { get; set; }

    private List<ProductModel>? lstproductModel = new List<ProductModel>();
    private CartModel objcartModel = new CartModel();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            lstproductModel = await _productService.GetAllProducts();
            IsUserLoggedIn = await CheckUserLoginStatus();
            // Console.WriteLine($"Logged in user: {UserName}"); // check username in console 

        }
        catch(Exception ex)
        {
            Console.WriteLine("Initialization error: " + ex.Message);
        }
    }

    private async Task<bool> CheckUserLoginStatus()
    {

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            IsUserLoggedIn = true;
            // UserName = user.Identity.Name ?? "User";
            UserName = user.FindFirst("FirstName")?.Value
                        ?? user.FindFirst(ClaimTypes.Email)?.Value
                        ?? "User";// Fetch the username
            return true;


        }
        else
        {
            IsUserLoggedIn = false;
            return false;
        } // Change this to true if user is authenticated
    }


    private void Search()
    {
        if (!string.IsNullOrWhiteSpace(SearchQuery))
        {
            Navigation.NavigateTo($"/search?query={SearchQuery}");
        }
    }

    private async Task GoToCart()
    {

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/cart");
        }
        else
        {
            // Show alert
            await JS.InvokeVoidAsync("alert", "Please login to use the cart.");
        }
    }

    private async Task Setting()
    {

        Navigation.NavigateTo("/setting", forceLoad: true);
    }

    private int GetLoginMasterId(ClaimsPrincipal user)
    {
        var claim = user.FindFirst("LoginMasterID");
        return claim != null ? int.Parse(claim.Value) : 0;
    }

    private async Task AddToCart(ProductModel objproductModel)
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        int userId = GetLoginMasterId(user);

        // Example of getting UserId from claim
        //var userId = int.Parse(user.FindFirst(c => c.Type == "LoginMasterId")?.Value ?? "0");
        CartModel objcartModel = new CartModel();
        objcartModel.UserId = userId;
        objcartModel.ProductId = objproductModel.ProductId;
        objcartModel.ProductName = objproductModel.ProductName;
        objcartModel.Price = objproductModel.Price;
        objcartModel.ImageUrl = objproductModel.ImageUrl;
        objcartModel.Quantity = 1;
        Console.WriteLine(" added to cart!");
        _cartService.AddUpdateCart(objcartModel);
        CartItemCount++;
    }

}
